p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding-left: 0;
}

button {
    cursor: pointer;
}

address {
    font-style: normal;
}

img {
    display: block;
    width: 100%;
}

body {
    font-family: 'open sans', sans-serif;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.section-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 42px;
    line-height: 1.17;
    letter-spacing: 0.05em;
}

.pre-title {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 20px;
}

.pre-title::before {
    content: '';
    width: 60px;
    height: 1px;
    background-color: currentColor;
    
}

.after-title {
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: #555555;
}

.btn {
    min-width: 160px;
    height: 40px;
    background-color: transparent;
    border: 1px solid #FF6C00;
    border-radius: 25px;

    font-family: inherit;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: #FFFFFF;
}

/* Стилі Хедеру */
.header {    
    position: absolute;

    width: 100%;
    padding-top: 32px;
    padding-bottom: 32px;
    
}
.header-container {
    display: flex;
    align-items: center;
}
.header-nav {
    display: flex;
    align-items: center;
}
.header-logo {
    display: block;
    margin-right: 131px;
}
.logo-icon {
    fill: #303030;
}
.navigation {
    display: flex;
    gap: 30px;
}

.navigation__item {
}
.navigation__link {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    color: #FFFFFF;

}
.navigation__link:hover,
.navigation__link:focus {
    color:  #FF6C00;
}
.connect {
    margin-left: auto;
    padding-right: 17px;
}
.connect__link {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}
.connect__link:hover,
.connect__link:focus {
    color:  #FF6C00;
}
.connect__button {
    margin-left: 43px;
    transition: color 2500ms linear;
}
.connect__button:hover,
.connect__button:focus {
    background-color: #FF6C00;
}
/* Стилі для ГЕРОЯ */
.hero-container {
    display: flex;
}
.hero-soc {
    width: 100px;
    display: flex;
    align-items: end;
    padding-bottom: 40px;
    padding-left: 27px;
}
.hero__list {
    display: flex;
    transform: rotate(-90deg) 
            translateY(100%);
    transform-origin: bottom left;
    align-items: center;
    gap: 40px;
}
.hero__list::before {
    content: '';
    width: 60px;
    height: 1px;
    background-color: #303030;
}
.hero__link {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color: #303030;
}
.hero__link:hover,
.hero__link:focus {
    color: #FF6C00;
}
.overlay {
    padding: 272px 526px 208px 100px;

    background-color:black;
    background-image: linear-gradient(
        rgba(25, 28, 38, 0.2), 
        rgba(25, 28, 38, 0.2)),
        url(../images/overlay.jpg);
        background-size: cover;
        flex-grow: 1;
}
.hero-pre-title {
    color: rgba(157, 164, 189, 0.6);;
}

.hero-title {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 72px;
    line-height: 1.18;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}
.hero-after-title {
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: #9DA4BD;
}

/* Стилі секції About */
.container-about {
    display: flex;
    gap: 30px;
}

.about-list {
    display: flex;
    gap: 30px;
}
.about-wrap {
    max-width: 470px;
}
.about-pre-title {
    margin-bottom: 20px;
}
.about-title {
    margin-bottom: 20px;
}
.about-after-title {
    margin-bottom: 20px;
}
.about-text {
    margin-bottom: 42px;

    font-size: 14px;
    line-height: 1.86;
    letter-spacing: 0.02em;
    color: #555555;
}

.about-btn {
    color: #303030;
}
.about-btn:hover,
.about-btn:focus {
    background-color: #FF6C00;
}
/* Стилі секції Prices */
.prices {
    background-color: #111319;
    background-image: url(../images/prices.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1600px;
    margin: 0 auto;
}
.prices-pre-title {
    margin-bottom: 20px;

    color: rgba(157, 164, 189, 0.6);
}
.prices-title {
    margin-bottom: 44px;

    color: #FFFFFF;
}

.prices-wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 44px;
}
.prices-list {
    padding: 30px 20px;
    width: calc((100% - 30px) / 2);
}
.prices-list:first-child {
    background-image: linear-gradient(
    180deg, 
    #171A24 0%, 
    rgba(23, 26, 36, 0.2) 100%
    );
}
.prices-list:last-child {
    background-image: linear-gradient(
    180deg, 
    #090B13 0%, 
    rgba(9, 11, 19, 0.2) 100%
    );
}
.prices-item {
    display: flex;
    justify-content: space-between;
    gap: 12px;
    align-items: baseline;
}
.prices-item::after {
    content: '';
    flex-grow: 1;
    height: 1px;
    background-color: rgba(157, 164, 189, 0.12);

}
.prices-item + .prices-item {
    margin-top: 20px;
}
.prices-list-text {
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: #9da4bd;
}

.prices-list-text:last-child {
    order: 1;

}
.prices-btn {
    display: block;
    margin: 0 auto;
}
.prices-btn:hover {
    background-color: #FF6C00;
}

/* Стилі секції Benefits */
.benefits-container {
    display: flex;
    margin-left: 100px;
}
.benefits-wrap {
    max-width: 500px;
    padding-top: 9px;
}
.benefits-list {
    display: flex;
    width: 370px;
    flex-wrap: wrap;
    margin-right: 130px;
}

.benefits-item {
    width: 170px;
    height: 130px;
    padding: 20px 24px;

    background-color: #f7f7f7;

}
.benefits-item:nth-child(odd) {
    margin-right: 30px;
}
.benefits-item:nth-child(even) {
    margin-top: 30px;
}
.digit {
    display: block;

    font-weight: 700;
    font-size: 42px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.05em;

    color: #303030;
}
.benefits-item-text {
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    text-align: center;

    color: #303030;
}

.benefits-pre-title {
    margin-bottom: 20px;

    color: #303030;
}
.benefits-title {
    color: #303030;
    margin-bottom: 20px;
    display: flex;
    align-items: flex-start;
}

.benefits-title::before {
    content: '?';
    transform: rotate(-180deg);
}

.benefits-after-title {
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
}