.container-about {
    display: flex;
    gap: 30px;
}

.about-list {
    display: none;
    @include tablet {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        
    }
    @include desktop {
        flex-wrap: nowrap;
    }
    
}

.about-wrap {
    max-width: 418px;
    @include tablet {
        max-width: 330px;
    }
    @include desktop {
        max-width: 470px;
    }
}
.about-pre-title {
    margin-bottom: 20px;
}
.about-title {
    @include font (700, 28px, 1.18, 0.05em);
    @media screen and (max-width: 767px) {
        max-width: 306px;        
    }
    @include desktop {
        @include font (700, 42px, 1.17, 0.05em);
    }
    margin-bottom: 20px;
}
.about-after-title {
    @include font (400, 16px, 1.62, 0.02em);
    @include tablet {
        @include font (400, 18px, 1.67, 0.02em);
    }
    margin-bottom: 20px;
}
.about-text {
    margin-bottom: 40px;
    
    @include desktop {
        margin-bottom: 42px;
    }

    @include font (400, 14px, 1.86, 0.02em);
    color: $main-text-color;
}

.about-btn {
    color: $second-btn-color;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
    background-color: #FF6C00;
    }
}
