.benefits-container {
    display: flex;
    flex-direction: column-reverse;
    
}
.benefits-wrap {
    max-width: 500px;
    padding-top: 9px;
}
.benefits-list {
    display: flex;
    width: 370px;
    flex-wrap: wrap;
    margin-right: 130px;
    margin-left: 100px;
}

.benefits-item {
    
    width: 170px;
    height: 130px;
    padding: 20px 24px;

    background-color: #f7f7f7;
    &:nth-child(odd) {
        margin-right: 30px;
    }
    &:nth-child(even) {
        margin-top: 30px;
    }
}

.digit-plus {
    position: relative;
}

.digit {
    display: block;

    @include font (700, 42px, 1.36, 0.05em);    
    text-align: center;
    color: #303030;
}

.plus {
    position: absolute;
    top: 12%;
    right: 10%;

    display: flex;
    justify-content: center;
    align-items: center;

    fill: #FF6C00;
}

.benefits-item-text {
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    text-align: center;

    color: #303030;
}

.benefits-pre-title {
    margin-bottom: 20px;

    color: #303030;
}
.benefits-title {
    color: #303030;
    margin-bottom: 20px;
    display: flex;
    align-items: flex-start;
    &::before {
        content: '?';
        transform: rotate(-180deg);
    }
}

.benefits-after-title {
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
}