.benefits-container {
    display: flex;
    flex-direction: column-reverse;
    @include desktop {
        flex-direction: row;
    }
    
}
.benefits-wrap {
    max-width: 418px;
    margin-bottom: 44px;

    @include tablet {
        max-width: 500px;
    }
    @include desktop {
        padding-top: 9px;
    }
    
    
}
.benefits-list {
    position: relative;
    
    @include mobile {
        display: flex;
        flex-wrap: wrap;
        // gap: 30px;
        justify-content: center;
    }
    
    @include tablet {
        margin-left: auto;;
        max-width: 450px;
    }
   
    


    @include desktop {
        display: flex;
        width: 370px;
        flex-wrap: wrap;
        margin-right: 130px;
        margin-left: 100px;
    }
    
}

.benefits-item {
    width: 193px;
    height: 133px;
    padding-top: 20px;
    margin-bottom: 30px;
    
    // padding-bottom: 20px;
    background-color: #f7f7f7;
    &:last-child {
        margin-bottom: 0;
    }
    &:nth-child(odd) {
        margin-right: auto;
    }
    &:nth-child(even) {
        margin-left: auto;
    }

    @include mobile {
        margin: 0;
        &:nth-child(odd) {
            margin-right: 30px;
        }
        &:nth-child(even) {
            margin-top: 30px;
        }
    }


    // margin-bottom: 30px;
    // text-align: center;
    @include desktop {
        width: 170px;
        height: 130px;
        padding: 20px 24px;
    }
    

    
    &:nth-child(odd) {
        // position: absolute;
        // margin-right: 30px;
    }
    &:nth-child(even) {
        // margin-top: 30px;
    }
}

.digit-plus {
    position: relative;
    width: 122px;
    margin-right: auto;
    margin-left: auto;
}

.digit {
    position: relative;
    display: block;

    @include font (700, 42px, 1.36, 0.05em);    
    text-align: center;
    color: #303030;
}

.plus {
    position: absolute;
    top: 12%;
    right: 9%;

    display: flex;
    justify-content: center;
    align-items: center;

    fill: #FF6C00;
}

.benefits-item-text {
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    text-align: center;

    color: #303030;
}

.benefits-pre-title {
    margin-bottom: 20px;

    color: #303030;
}
.benefits-title {
    color: #303030;
    margin-bottom: 20px;
    display: flex;
    align-items: flex-start;
    &::before {
        content: '?';
        transform: rotate(-180deg);
    }
}

.benefits-after-title {
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
}