:root {
    --main-title-color: #ffffff;
    --second-title-color: #303030;
    --main-btn-color: #ffffff;
    --second-btn-color: #303030;
    --accent-color: #ff6c00;
}

$after-title-color: #555555;
$button-border-color: #FF6C00;
$button-text-color: #FFFFFF;
$logo-icon-color: #303030;
$nav-text-color: #FFFFFF;
$accent-link-color: #FF6C00;
$accent-button-color: #FF6C00;
$second-title-color: #303030;
$main-title-color: #ffffff;
$hero-after-color: #9DA4BD;

